*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    }

    header{
        background-color: #001021;
        text-align: center;
        color: #EDF7F6;
        padding: 10px 10px;
        border: 10px groove #EDF7F6;
        border-bottom-color: #a4a5a5;
        /* margin: -8px -10px -8px -8px; */
        width: 100%;
        max-width: 2000px;
    }

    button{
        margin: 15px;
        padding: 30px;
        position: absolute;
        z-index: 2;             /* importance of element if more elemnts are stacked on eachother */

    }

    .button1 {
        top: 300px;
        left: 350px;
    }

    .button1:hover{
        transform: scale(1.1) rotate(2deg);
        background-color:aquamarine; 
        color:black;
    }