*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}
    #shape-settings{
        display: none;
        position: absolute;
        top: 630px;
        left: 350px;
    }

    #shape-menu{
        display: none;
        position: absolute;
    }

    #canvas {
        position: absolute;
        border: 2px solid black;
        left: 20%;
    } 

    #line-settings{
        display: none;
        position: absolute;
        top: 630px;;
        left: 1000px;
    }

    #poly-settings{
        display: none;
        position: absolute;
        top: 700px;;
        left: 1020px;
    }

    #fractal-menu{
        display: none;
        position: absolute;
        top: 630px;
        left: 165px;
    }

    #fractal-label{
        display: none;
        position: absolute;
        top: 630px;
        left: 50px;
    }

    #iter-label{
        display: none;
        position: absolute;
        top: 670px;;
        left: 100px;
    }

    #stroke-width{
        top: 625px;;
        left: 1100px;
    }

    #stroke-color{
        top: 625px;;
        left: 1250px;
    }

    #random-check{
        display: none;
        position: absolute;
        top: 700px;;
        left: 100px;
    }

    #flower-settings{
        display: none;
        position: absolute;
        top: 750px;;
        left: 100px;
    }

    .shape-label-color{
        position: absolute;
        top: 630px;;
        left: 650px;
    }

    .shape-menu-color{
        position: absolute;
        top: 630px;;
        left: 850px;
    }

    .shape-label-stroke{
        position: absolute;
        top: 630px;;
        left: 1020px;
    }

    .shape-menu-stroke-width{
        position: absolute;
        top: 635px;;
        left: 1140px;
    }

    .shape-menu-stroke-color{
        position: absolute;
        top: 635px;;
        left: 1300px;
    }

    .shape-label-circle-settings{
        position: absolute;
        top: 630px;;
        left: 1000px;
    }

    button{
        margin: 15px;
        padding: 30px;
        position: absolute;
        z-index: 2;             /* importance of element if more elemnts are stacked on eachother */
    }

    .button1 {
        top: 650px;
        left: 350px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .button1:active,
    .active{
        background-color: #00CCC0;
        border: 1px #000000 solid;
        box-shadow: none;
    }

    .button2 {
        top: 650px;
        left: 700px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .button2:active,
    .active{
        background-color: #00CCC0;
        border: 1px #000000 solid;
        box-shadow: none;
    }

    .button3 {
        top: 650px;
        left: 870px;
    }