/* @author Petru Rey 
*  @date 2 May 2022
*/

*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}   

    .canvas-settings{
        position: absolute;
        top: 95%;
        left: 70%;
    }

    #iter-menu{
        display: none;
        position: absolute;
        top: 81%;
        left:13%;
    }

    .flower-attributes{
        position: absolute;
        left: 13%;
        top: 84%;
    }

    #random-check{
        display: none;
        position: relative;
    }

    #flower-settings{
        display: none;
        position: relative;
    }

    #fractal-settings{
        display: none;
        position: absolute;
        top: 95%;
    }

    #canvas {
        max-height: 80%;
        position: absolute;
        border: 2px solid black;
    } 

    .shared-attributes{
        position: absolute;
        top: 80%;
        left: 35%;
        width: 5cm;
    }

    #shape-menu{
        display: none;
        position: absolute;
    }

    .shape-label-color{
        position: relative;
        top: 20px;
    }

    .shape-menu-color{
        position: relative;
        left: 10%;
        top: 20px;
    }

    .shape-label-stroke{
        position: relative;
        top: 30px;
    }

    .shape-menu-stroke-width{
        position: relative;
        top: 35px;
        left: 55%;
    }

    .shape-menu-stroke-color{
        position: relative;
        top: 10px;
    }

    #shape-settings{
        display: none;
        position: absolute;
        top: 80%;
        left: 50%;
    }

    #shape-settings-fract{
        display: none;
        position: absolute;
        top: 85%;
        left: 13%;
    }

    #line-settings{
        display: none;
        position: absolute;
        top: 630px;;
        left: 1000px;
    }

    #poly-menu{
        display: none;
        position: relative;
        top: 60px;
        left: 150%;
    }


    .shape-label-circle-settings{
        position: absolute;
        top: 630px;;
        left: 1000px;
    }

    button{
        margin: 15px;
        padding: 30px;
        position: absolute;
        z-index: 2;   
        top: 80%;       
    }

    button:hover{
        box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .button1 {
        left: 20px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .button1:active,
    .active{
        background-color: #00CCC0;
        border: 1px #000000 solid;
        box-shadow: none;
    }

    .button2 {
        left: 70%;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    

    .button2:active,
    .active{
        background-color: #00CCC0;
        border: 1px #000000 solid;
        box-shadow: none;
    }

    .button3 {
        left: 80%;
    }